.tags-container {
    background: #FFFFFF;
    box-shadow: 4px 4px 90px rgba(0, 0, 0, 0.15);
    width: 400px;
    margin-top: 9rem;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    .article-tags {
            width: 400px;
            padding: 10px;
            display: flex;
            flex-wrap: wrap;
        }
}