.thumbnail {
    width: 327px;
    height: 354px;
    cursor: pointer;
  }

#upload-thumbnail {
    display: none;
}
.thumbmail-wrapper {
    margin-top: 2rem;
}
.thumbnail-wrapper img {
    width: 80px;
    cursor: pointer;
}

