.tagLink {
    text-decoration: none;
    color: black;
    padding: 6px;
    background-color: #e6e6e6;
    border-radius: 6px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin: 0.2rem;
  }