$color_1: #2FB5EE;
$color_2: #fff;


div.article__comments {
  margin-bottom: 2rem;

  div.article__comment_card {
    margin-top: 2rem;
    padding: 2rem;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);

    .user__comment_info {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;;

      p {
        margin-left: 1.5rem;
      }

      .commenter__name {
          font-size: 14px;
          font-weight: 600;
          color: #2FB5EE;
        }
        
      .commenter__time {
        color: #7E7C7C;
        font-size: 11px;
      }
    }

    div.comment__body {
      padding: 0 6.5rem;

      p {
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
      }
    }

    div.comment__likes {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding-right: 4rem;

      p, i {
        color: #7E7C7C;
        padding-left: 1rem;
      }

      i#comment__likes__icon {
        font-size: 18px;
      }

      p.comment__likes__count {
        font-size: 12px;
        margin: 0;
      }
    }
  }
}

div.article__comment_input {
  margin-top: 6rem;
  padding: 2rem;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);

  .user__comment_input {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    vertical-align: 11rem;
    .comment_form{
      width: 100%;
      .row {
        display: flex;
        flex-direction: row;
        .comment_input_field{
          width: 94% !important;
          margin-left: 2%;
          margin-top: 2rem;
          border-top: none;
          border-left: none;
          border-right: none;
          border-bottom-color: $color_1;
          font-size: 1.5rem;
          resize: vertical;
          overflow: auto;
          height: 4rem;
          &:focus {
            outline: none;
          }
        }
        .column1 {
          width: 90%;
          height: 6rem;
        }
        .column2 {
          width: 10%;
          height: 6rem;
          padding-top: 3rem;
          .comment_btn {
            border: none;
            width: 1rem;
            color: $color_1;
          }
        }
      } 
    }
  }
}
.comment_load_more {
  width: 15rem;
  height: 4rem;
  margin-left: 37%;
  border-radius: 1rem;
  background-color: $color_1;
  margin-top: 2rem;
  color: $color_2;
  font-size: 1.3rem;
}